@import '../App.scss';

.button-purple{
    background-color: transparent;
    color: #A414A5;
    border: 2px solid #A414A5;
    font-size: 90%;
    cursor: pointer;
    width: 10vw;
    height: 44px;
    border-radius:10px;
    outline: inherit;
    margin: 22px 15px 0 0;
}

.button-purple:hover {
  color: #031D25;
  background-color: #A414A5;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}